.DS_Store
.vscode/
.idea/

__pycache__/
*.py[cod]
*.pyo
.python-version
.venv/
venv/
uv.lock

.pytest_cache/
.mypy_cache/
.ruff_cache/

build/
dist/
*.egg-info/

.env
.env.*

frontend/dist/
checkpoints/
*.npy

transformer/data/TinyStoriesV2-GPT4-train.txt
transformer/data/TinyStoriesV2-GPT4-valid.txt